# ==================================================
# CODEOWNERS
# Last Updated: 2026-06-18
# ==================================================

# Default owner for entire repository
*                           @huynhducthanhtuan
